@model IEnumerable<Video>
<br />
<div id="Videos_table" style="overflow:scroll; height:600px;">
<table  class="table table-hover">
    <thead>
    <tr class="table-primary">
        <th>Video id</th>
        <th>Data</th>
        <th>Typ czytania</th>
        <th>Youtube id</th>
        <th>Video</th>
    </tr>
    </thead>
    @{
            foreach (var item in Model)
            {
            
             <tr>
            <td>@item.IdVideo</td>
            <td>@item.Data</td>
            <td>@item.TypCzytania</td>
            <td>@item.YoutubeId</td>
            <td>
            <aside>
            <iframe id="ytplayer" type="text/html" width="600" height="150" src="https://www.youtube.com/embed/@item.YoutubeId" frameborder="0"></iframe>
            </aside>
            </td>
            <td>
            <div align="center">
            <a asp-controller="Video" asp-action="Edit" asp-route-id="@item.IdVideo" 
            class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edytuj</a>
            <br>
            <br>
            <a asp-controller="Video" asp-action="Delete" asp-route-id="@item.IdVideo" 
            class="btn btn-danger"><i class="bi bi-trash-fill"></i> Usuń</a>
            </div>
            </td>
            </tr>
        }
    }
</table>
</div>
<br />
