@model IEnumerable<Video>

<br />
<div id="Videos_table" style="overflow:scroll; height:600px;">
<table  class="table table-hover">
    <tr>
        <td>Video id</td>
        <td>Data</td>
        <td>Typ czytania</td>
        <td>Youtube id</td>
        <td>Video</td>
    </tr>
    @{
            foreach (var item in Model)
            {
                <input id="VidIdPicked" type="hidden" value="@item.IdVideo">
                <tr>
                    <td>@item.IdVideo</td>
            <td>@item.Data</td>
            <td>@item.TypCzytania</td>
            <td>@item.YoutubeId</td>
            <td>
            <aside>
            <iframe id="ytplayer" type="text/html" width="600" height="150" src="https://www.youtube.com/embed/@item.YoutubeId" frameborder="0"></iframe>
            </aside>
            </td>
            <td>
            <div align="center">
            <button 
            id="Btn_edit"
            type="button" 
            class="btn btn-success" 
            onclick="OnUpdateSelected(@item.IdVideo)"
            >
            Edytuj</button>
            <br>
            <br>
            <button
            id="Btn_delete"
            type="button"
            class="btn btn-danger"
            >
            <i class="bi bi-trash"></i>Usuń</button>
            </div>
            </td>
            </tr>
        }
    }
</table>
</div>
<br />
