@model IEnumerable<Lekcjonarz>
<label class="text-danger">@TempData["error"]</label>
<br />
<div id="Patroni_table" style="overflow:scroll; height:600px;">
<table  class="table table-hover">
    <thead>
    <tr class="table-primary">
        <th>Dzień liturgiczny</th>
        <th>Typ czytania</th>
        <th>Siglum</th>
        <th>Tekst</th>
    </tr>
    </thead>
    @{
            foreach(var item in Model)
            {
            <tr>
            <td>@item.DzienLiturgiczny</td>
            <td>@item.TypCzytania</td>
            <td>@item.Siglum</td>
            <td>@item.Tekst</td>
            <td>
            <div align="center">
            <a asp-controller="Lekcjonarz" asp-action="Edit" asp-route-id="@item.IdLlekcjonarz" 
            class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edytuj</a>
            <br>
            <br>
            <a asp-controller="Lekcjonarz" asp-action="Delete" asp-route-id="@item.IdLlekcjonarz" 
            class="btn btn-danger"><i class="bi bi-trash-fill"></i> Usuń</a>
            </div>
            </td>
            </tr>
            }
        }
</table>
</div>
<br />
