@model KalendarzAddModel
@*  Add view for Kalendarz*@
<form method="post">
<div class="border p-3 mt-4">
<h1>Dodaj Video</h1>
<div class="mb-3">
<label asp-for="Kalendarz.Data"></label>
<input asp-for=Kalendarz.Data type="date" class="form-control"/>
<span asp-validation-for="Kalendarz.Data" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for="Kalendarz.DzienLiturgiczny"></label>
<select asp-for="Kalendarz.DzienLiturgiczny" 
class="form-control" 
id="day"
onchange="OnChangeDay()"
asp-items= "@((List<string>)ViewData["dzienLiturgiczny_list"]).ConvertAll(a =>
                
                     new SelectListItem()
                    {
                        Text = a.ToString(),
                        Value = a.ToString(),
                        Selected = false
                    }).ToList()">

<option>-Wybierz-</option></select>
<span asp-validation-for="Kalendarz.DzienLiturgiczny" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for=Kalendarz.NazwaDnia></label>
<textarea asp-for=Kalendarz.NazwaDnia id="dayName" class="form-control" disabled></textarea>
<textarea asp-for=Kalendarz.NazwaDnia  class="form-control" hidden></textarea>
<span asp-validation-for="Kalendarz.NazwaDnia" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for="Kalendarz.KomZrodloD"></label>
<select asp-for="Kalendarz.KomZrodloD" 
class="form-control" 
asp-items= "@((List<string>)ViewData["komentarz_list"]).ConvertAll(a =>
                
                     new SelectListItem()
                    {
                        Text = a.ToString(),
                        Value = a.ToString(),
                        Selected = false
                    }).ToList()">

</select>
<span asp-validation-for="Kalendarz.KomZrodloD" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for="Kalendarz.KomZrodloM"></label>
<select asp-for="Kalendarz.KomZrodloM" 
class="form-control" 
asp-items= "@((List<string>)ViewData["komentarz_list"]).ConvertAll(a =>
                
                     new SelectListItem()
                    {
                        Text = a.ToString(),
                        Value = a.ToString(),
                        Selected = false
                    }).ToList()">

</select>
<span asp-validation-for="Kalendarz.KomZrodloM" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for="Kalendarz.IdKsiazka1"></label>
<select asp-for="Kalendarz.IdKsiazka1" 
class="form-control" 
asp-items= "@((List<string>)ViewData["ksiazki_list"]).ConvertAll(a =>
                
                     new SelectListItem()
                    {
                        Text = a.ToString(),
                        Value = a.ToString(),
                        Selected = false
                    }).ToList()">

</select>
<span asp-validation-for="Kalendarz.IdKsiazka1" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for=Kalendarz.NumerTygodnia></label>
<input asp-for=Kalendarz.NumerTygodnia class="form-control"/>
<span asp-validation-for="Kalendarz.NumerTygodnia" class="text-danger"></span>
</div>
<div class="mb-3">
<label class="text-danger">@TempData["error"]</label>
   </div>
   <button type="submit" class="btn btn-success">
   Dodaj</button>
   <a asp-controller="Video" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Wróć do listy
        </a>
</div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
     }

     <script>
      function OnChangeDay()
        {
      $.ajax({
            url: '@Url.Action("DayChanged", "Kalendarz")',
            type: 'POST',
            async: true,
            cache: false,
            data: { day:$('#day').val()},
             headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            dataType: 'json',
            traditional: true,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                $('#dayName').val(response.name);
            }
        });
        }
     </script>
}
