@model VideoViewModel

<h1>Zarządzanie zawartością tabeli "Video"</h1>
<form method="post">
<div class="form-group">
    <label asp-for="Current_video.Data" class="control-label">Podaj datę:</label>
    <input asp-for="@Model.Current_video.Data" 
    id="datepicked" 
    type="date"
    class="form-control" 
    value="@Model.Current_video.Data.ToString("yyyy-MM-dd")" 
    />
    <span asp-validation-for="@Model.Current_video.Data" class="text-danger"></span>
    <div align="right">
    <button 
    
    id="Button_search"
    type="button" 
    class="btn btn-success" 
    onclick="OnChangeDate()"
    >
    Szukaj</button>
    </div>
</div>
<br />
</form>
<div id="VideoDisplay">
<partial name="_VideoDisplay"/>
</div>









@section Scripts
    {   
    <script>
        function OnChangeDate()
        {
          var videoViewModel =  '@Html.Raw(Json.Serialize(@Model))';
          
          
      $.ajax({
            url: '@Url.Action("VideoDatePicked", "DataOperations")',
            type: 'POST',
            async: true,
            cache: false,
            data: { jsonString: videoViewModel,date:$('#datepicked').val()},
            dataType: 'html',
            traditional: true,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                $('#VideoDisplay').html(response);
            }
        });
        }
    </script>
    <script>
                function OnUpdateSelected(id)
        {
          
          
      $.ajax({
            url: '@Url.Action("VideoUpdateSelected", "DataOperations")',
            type: 'POST',
            async: true,
            cache: false,
            data: { Id:id},
            dataType: 'html',
            traditional: true,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                $('#VideoDisplay').html(response);
            }
        });
        }
    </script>
    }

