@model VideoViewModel

<h1>Zarządzanie zawartością tabeli "Video"</h1>
<form method="post">
<div class="form-group">
    <label asp-for="Current_video.Data" class="control-label">Podaj datę:</label>
    <div class='input-group date' id='datepicker'>
        <input asp-for="@Model.Current_video.Data" id="datepicked" type="date" class="form-control" onchange="OnChangeDate()" value="@Model.Current_video.Data />
        <input id="startDate" class="form-control" type="date" />
    </div>
    <span asp-validation-for="@Model.Current_video.Data" class="text-danger"></span>
</div>
@Model.Current_video.YoutubeId
@Html.HiddenFor(m=>m.Current_video.YoutubeId)
<br />
<h1>Dodaj/Edytuj rekord</h1>
<input asp-for=@Model.Current_video.Data 
type="date" 
class="form-control" 
value=@Model.Current_video.Data
/>
Data<input asp-for=@Model.Current_video.TypCzytania 
type="datetime" 
class="form-control" 
value=@Model.Current_video.TypCzytania
/>
<input asp-for=@Model.Current_video.YoutubeId 
type="datetime" 
class="form-control" 
value=@Model.Current_video.YoutubeId
/>
<button asp-controller="DataOperations" asp-action="Video">Add</button>
<button asp-controller="DataOperations" asp-action="Video">Update</button>
</form>
<div id="VideoDisplay">
<partial name="_VideoDisplay"/>
</div>









@section Scripts
    {   
    <script>
        function OnChangeDate()
        {
          var videoViewModel =  '@Html.Raw(Json.Serialize(@Model))';
          
          
      $.ajax({
            url: '@Url.Action("VideoDatePicked", "DataOperations")',
            type: 'POST',
            async: true,
            cache: false,
            data: { jsonString: videoViewModel,date:$('#datepicked').val()},
            dataType: 'html',
            traditional: true,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                                alert("YES");
                $('#VideoDisplay').html(response);
            }
        });
        }
    </script>
    }

